.list-group-item {
    padding: 0px .75rem;
    /*border: inherit;*/
    border: 1px solid lightgrey;
    border-radius: 2px;
    /*padding: 8px;*/
    margin-bottom: 8px;
    background-color: white;
}

.route-item-label{
    /*margin-left: 1.05rem;*/
    /*line-height: 35px;*/
    cursor: pointer;
    user-select: none;
}

.draggable{
    background-color: lightgreen;
}